:root {
    --font-family: "Roboto", sans-serif;
    --second-font-family: "Raleway", sans-serif;
    --primary-color-slate: #434455;
    --secondary-color-navy-blue: #2e2f42;
}

body {
    font-family: var(--font-family);
    color: var(--primary-color-slate);
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--secondary-color-navy-blue);
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.logo-text {
    font-family: var(--second-font-family);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}

.address {
    font-style: normal;
}

.address-link {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-slate);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero-section {
    background-color: var(--secondary-color-navy-blue);
}

.hero-title {
    font-family: var(--font-family);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.order-button {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color-navy-blue);
}

.feature-title {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color-navy-blue);
}

.feature-description {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-slate);
}

.team-section {
    background-color: #f4f4fd;
}

.section-title {
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-color-navy-blue);
}

.team-card {
    background-color: #ffffff;
}

.element-title {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color-navy-blue);
}

.element-description {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-slate);
}

.footer-section {
    background-color: var(--secondary-color-navy-blue);
}

.logo-text-footer {
    font-family: var(--second-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}